*{
    background-color: #150199;
}



.c1 {
    display: inline-table;
    width: 44.5%;
    margin-left: 4%;
}

.c2 {
    height: 10em;
    background-color: #d117bb;
    border-radius: 5px;
}

.db-child1 {
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5%;
    font-size: 18px;
}

.db-child2 {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    font-size: 40px;
    font-weight: bold;
}

.gf {
    width: 44.5%;
    height: 18em;
    margin-left: 4%;
    display: inline-table;
    background-color: #b11d1d;
    border-radius: 5px;
    
}
.contenedor {
    color: #150199;
    margin-top: 1%;
    width: 100%;
}