.Container
{
    font-size: 28px;/*Tamaño de fuente*/
    width: 714px;/*Ancho de cuadro*/
    height: 260px;/*Largo de cuadro*/
    background-image: url(fondo.jpg);/*Fondo de cuadro*/
    font-family: 'Courier New', Courier, monospace;/*Fuente de letra*/
    font-weight: bold;/*Letras negrita*/
    border-width: 5px;/*Tamaño del marco*/
    border-style: groove;/*Estilo de marco*/
    border-color:rgb(0, 0, 0);/*Color de marco*/
}
img
{
    width: 250px;/*Ancho de imagen*/
    height: 250px;/*Largo de imagen*/
}
.lista
{
    background-color: rgb(192, 28, 207);/*Color de fondo*/
    width: 290px;/*Ancho del contenedor*/
    height: 500;/*largo del contenedor*/
    border-width: 5px;/*Ancho del  marco del contenedor*/
    border-style: groove;/*Tipo de  marco del contenedor*/
    border-color: rgb(0, 0, 0);/*Color de  marco del contenedor*/
    float: left;/*Pocicion del contenedor*/
}
.prom
{
    text-align: center;/*Alineación del texto*/
    background-color: rgb(192, 28, 207);/*Color de fondo*/
    width: 400px;/*Ancho del contenedor*/
    height: 240px;/*largo del contenedor*/
    border-width: 5px;/*Ancho del  marco del contenedor*/
    border-style: groove;/*Tipo de  marco del contenedor*/
    border-color: rgb(0, 0, 0);/*Color de  marco del contenedor*/
}
video
{
    position: fixed;/*Pocicion de video*/
    min-width: 100%;/*Tamaño minimo de video ancho*/
    min-height: 100%;/*Tamano miniomo de video largo*/
    top: 50%;/*Pocicion de video arriba*/
    left: 50%;/*Pocicion de video izquierda*/
    transform: translateX(-50%) translateY(-50%);/*Mover el video hacia los vordes*/
    z-index: -1;/*Pocicion de video de fondo con eje z*/
}