.Container
{
    font-size: 28px;/*Tamaño de fuente*/
    width: 714px;/*Ancho de cuadro*/
    height: 260px;/*Largo de cuadro*/
    background-image: url(fondo.jpg);/*Fondo de cuadro*/
    font-family: 'Courier New', Courier, monospace;/*Fuente de letra*/
    font-weight: bold;/*Letras negrita*/
    border-width: 5px;/*Tamaño del marco*/
    border-style: groove;/*Estilo de marco*/
    border-color:rgb(123, 6, 146);/*Color de marco*/
}
body
{
    background-image: url(fondopagina.jpg);/*Fondo del body*/

}
img
{
    width: 250px;/*Ancho de imagen*/
    height: 250px;/*Largo de imagen*/
}
.lista
{
    background-color: darkgreen;/*Color de fondo*/
    width: 290px;/*Ancho del contenedor*/
    height: 260px;/*largo del contenedor*/
    border-width: 5px;/*Ancho del  marco del contenedor*/
    border-style: groove;/*Tipo de  marco del contenedor*/
    border-color: rgb(123, 6, 146);/*Color de  marco del contenedor*/
    float: left;/*Pocicion del contenedor*/
}

.ponderacion
{
    background-color: darkgreen;/*Color de fondo*/
    width: 290px;/*Ancho del contenedor*/
    height: 260px;/*largo del contenedor*/
    border-width: 5px;/*Ancho del  marco del contenedor*/
    border-style: groove;/*Tipo de  marco del contenedor*/
    border-color: rgb(123, 6, 146);/*Color de  marco del contenedor*/
    float: right;/*Pocicion del contenedor*/
}
.clase
{
    font-size: 50px;/*Tamaño de fuente*/
    text-align: center;/*Alineación del texto*/
    background-color: rgb(123, 6, 146);/*Color de fondo*/
    width: 100%;/*Ancho del contenedor*/
    height: 100px;/*largo del contenedor*/
}
.prom
{
    text-align: center;/*Alineación del texto*/
    background-color: darkgreen;/*Color de fondo*/
    width: 400px;/*Ancho del contenedor*/
    height: 240px;/*largo del contenedor*/
    border-width: 5px;/*Ancho del  marco del contenedor*/
    border-style: groove;/*Tipo de  marco del contenedor*/
    border-color: rgb(123, 6, 146);/*Color de  marco del contenedor*/
}